<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>WaterSMART Model intercomparison Portal</description>
    <display-name>WaterSMART {Owner: DB, Coder: JW}</display-name>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!-- Security -->
    <security-constraint>
        <display-name>Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/login.jsp</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>gov.usgs.cida.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>redirect_on_fail</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>redirect_page</param-name>
            <param-value>/login.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>RequestHeaderFilter</filter-name>
        <filter-class>gov.usgs.cida.tomcatfilters.RequestFilter</filter-class>
    </filter>
        
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- should keep services on different path, put paths here -->
    <filter>
        <filter-name>ServiceSessionFilter</filter-name>
        <filter-class>gov.usgs.cida.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>redirect_on_fail</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServiceSessionFilter</filter-name>
        <url-pattern>/service/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServiceSessionFilter</filter-name>
        <url-pattern>/files/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>OWSProxy</servlet-name>
        <servlet-class>gov.usgs.service.OWSProxyServletX</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeonetworkProxy</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.proxy.GeonetworkProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.util.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ISORecord</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.iso.ISORecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRun</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.util.UpdateRun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.util.Export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileRepository</servlet-name>
        <servlet-class>gov.usgs.cida.watersmart.repo.FileRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OWSProxy</servlet-name>
        <url-pattern>/service/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export</servlet-name>
        <url-pattern>/service/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/service/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeonetworkProxy</servlet-name>
        <url-pattern>/service/geonetwork/csw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jspf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ISORecord</servlet-name>
        <url-pattern>/service/isorecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRun</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileRepository</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
</web-app>
